<h1>Code Chat</h1>
<div>
    <h3>Login</h3>
    <input type="text" id="loginName" placeholder="Name" />
    <input type="password" id="loginPassword" placeholder="Password" />
    <button id="loginButton">Login</button>
</div>
<div>
    <h3>Signup</h3>
    <input type="text" id="signupName" placeholder="Name" />
    <input type="password" id="signupPassword" placeholder="Password" />
    <input type="password" id="signupConfirmPassword" placeholder="Confirm Password" />
    <button id="signupButton">Signup</button>
</div>
